<ion-header>
  <ion-toolbar color= light>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/desc"
      text="Volver"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>P5: Bosses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color=mysecondcolor>
    <ion-card-header>
      <ion-card-title>Shadow Kamoshida</ion-card-title>
      <ion-card-subtitle>Asmodeus</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Siendo el primer Boss del juego, este no tiene problemas con dejárnosla difícil en su pelea, 
      como principal consejo, siempre es buena idea iniciar con buffs para el equipo y debuffs para el Boss, 
      lo más recomendable es siempre partir con Sukukaja para poder mejorar la evasión de tu team, 
      y con su contraparte Sukunda para bajar la precisión de un enemigo.
    </ion-card-content>
    <img src="assets/kf.jpg" ion class="ion-padding" height="200" width="350">
    <ion-card-content>
      Al inicio de la pelea, después de perder un 25% de vida, Kamoshida utilizara su Trophy of Obsession 
      para recuperar su vida, es importante el destruir este mismo debido a que si no lo hacemos Kamoshida 
      seguirá recuperando su vida sin parar, una vez destruido el Trophy, 
      este caerá unos instantes para tener una pequeña conversación y después rematarlo con un All-Out Attack. 
    </ion-card-content>
    <img src="assets/aoa.jpg" ion class="ion-padding">
    <ion-card-content>
      Siguiendo con la pelea siempre es recomendable que Ryuji utilice Tarukaja 
      para aumentar el ataque de Joker para causar un gran daño, ya para concluir 
      llegara un punto en el cual puedes escoger entre seguir luchando o ir por su corona, 
      lo más recomendable es mandar a Ryuji para que vaya por la corona mientras ganas tiempo, 
      una vez robada la corona ganaras automáticamente la pelea.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Personas Recomendados</ion-card-title>
      <ion-card-subtitle>Shadow Kamoshida</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      •	Arsene (Se obtiene por la historia) mínimo nivel 4 con Sukukaja.
    </ion-card-content>
    <img src="assets/Arsene.png" ion class="ion-padding" height="150" width="250">
    <ion-card-content>
      •	Mandrake (Obtenible al fusionar Arsene con Jack-o’-Lantern) mínimo nivel 5 con Sukunda.
    </ion-card-content>
    <img src="assets/Mandrake.jpg" ion class="ion-padding" height="150" width="250">
    <ion-card-header>
      <ion-card-title>Shadow Madarame</ion-card-title>
      <ion-card-subtitle>Azazel</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Manteniendo la tradición de ser un jefe interesante, 
      Madarame tiene la interesante mecánica de iniciar la pelea transformándose en un monstruo dividido en 4 pinturas, 
      de las cuales cada una representa una parte de su rostro, a diferencia del Boss anterior, 
      esta forma tiene la habilidad de absorber los ataques para recuperar la vida.
      <p></p>
      •	El ojo derecho, ojo izquierdo y la nariz, absorben ataques mágicos, 
      así que debes atacarlo con ataques físicos y balas.
      <p></p>
      •	A diferencia de las demás pinturas, la boca absorbe el daño físico y 
      recibe daño con los ataques mágicos.
    </ion-card-content>
    <img src="assets/mf.jpg" class="ion-padding" height="200" width="350">
    <ion-card-content>
      Una vez derrotamos a las pinturas aparecerá el verdadero Madarame el cual puedes atacar con el All-Out Attack, 
      ya en este punto de la pelea debes saber que solo derrotando a esta forma la pelea terminará, 
      lo recomendable es utilizar debuffs contra el jefe como Rakunda (Baja defensa) o Tarunda (Baja ataque), 
      eso sí, si no lo derrotas rápido este volverá a su forma de pinturas y 
      deberás repetir el proceso para llegar a su verdadera forma.
    </ion-card-content>
    <img src="assets/rm.jpg" class="ion-padding" height=50% width="350">
  </ion-card>
</ion-content>

