<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text="Volver"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Mundos Y Bosses de MK Shaolin monks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color=mysecondcolor>
    <ion-card-header>
      <ion-card-title>Mundos y bosses</ion-card-title>
      <ion-card-subtitle>Aventura</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Guarida de Goro/Isla de Shang Tsung: 
      • Monedas Rojas: 8.
      <p></p>
      • Jefe/s Final: Oni Warlord,
      <p></p>
      • Enemigos del Escenario: Oni, Guardia Enmascarado
      <p></p>
      • Aliados en Kombat: Ninguno
      <p></p>
      • Tecnicas de Plataforma Obtenida: Super Salto.
      <p></p>
      Goro's Lair: La Guarida de Goro es el primer 
      escenario del juego y es aqui donde comienza 
      la historia de como Liu Kang y Kung Lao deben 
      salir de la guarida de Goro. Al comenzar los jugadores deberán navegar por toda la guarida 
      hasta llegar al portal por donde se sale de la isla, los principales enemigos que saldrán
       en este escenario son los Oni los cuales tendremos que acabar con ellos a medida que avancemos en el juego.
        En esta parte del juego también nos encontraremos con otros enemigos como Reptile con el cual nos toparemos, 
        pero no podermos combatir ya que este logra escapar. También lograremos ver a Johnny Cage, quien nos indicará 
        que tenemos que subir a un puente para salir de la isla. Es aquí también donde los jugadores obtienen su primer Fatality.
         Ademas de los Oni tambien nos enfrentaremos contra un enorme Guerrero Oni, el cual aparecerá en la parte final del escenario,
         al cual deberemos vencer para poder obtener la habilidad de Super Salto o Salto Largo.
    </ion-card-content>
    <img src="assets/8.jpg" ion class="ion-padding" height="200" width="350">
      <ion-card-content>
        Siendo este el primer boss del juego entre 2 personas sera muy facil de vencer si uno se encarga de los 
        onis pequeños yel otro jugar le empieza a encadenar combos al oni warlord y asi lo venceran muy facil, siempre 
        intentar tener cuidados con las puas de acero del alrededor ya que les puede quitar mucha vida.
          </ion-card-content>
          <img src="assets/7.jpg" ion class="ion-padding" height="200" width="350">
            <ion-card-content>
              La Academia Wu Shi:

              •Monedas Rojas: 9.
              <p></p>
              •Jefe/s Final: Ermac (Secreto).
              <p></p>
              •Enemigos: Tarkatan, Guardia Enmascarado.
              <p></p>
              •Aliados en Combate: Johnny Cage.
              <p></p>
              •Tecnica de Plataforma Obtenida: Correr Por Paredes (secreto).
              <p></p>
              Wu Shi Academy: La Academia Wu Shi es el segundo escenario del juego al cual accedemos mediante 
              el portal en la isla de Shang Tsung. Cuando llegamos aquí la academia es atacada por una horda de enemigos Tarkata, 
              quienes serán los principales enemigos en este escenario del juego, el deber del jugador sera deshacerse de los Tarkata 
              eliminándolos de la Academia y defendiéndola de los mismos. Es también en este escenario y parte del juego en donde el Tarkata 
              conocido como Baraka secuestra a la agente especial Sonya Blade. Cuando el jugador accede a este escenario del juego el jugador 
              habrá podido desbloquear a Johnny Cage. En una parte, el escenario se verá en llamas, esto se debe a una acción que hemos realizado
               con anterioridad, la cual consistía en hechar lava hacia una parte de la Academia, y así poder matar a los tarkatas que ocupaban esa área. Habrá unos cuantos Test Your Might, los primeros del juego; en los cuales; si vencemos, logramos tirar agua para apagar el fuego. Finalmente, para salir del escenario debemos derrotar a 2 guardias enmascarados. También veremos una pequeña película, la cual nos muestra a Raiden venciendo fácilmente a 2 tarkatas, con la posterior aparición de Shang Tsung, el cual se enfrentará a Raiden, sin mostrarnos el resultado. Así mismo, luego vemos como un supuesto Raiden
               (Que en realidad es Shang Tsung transformado) nos envía hacia el Outworld, con la misión de buscar a Sonya Blade.
            </ion-card-content>
            <img src="assets/9.jpg" ion class="ion-padding" height="200" width="350">
              <ion-card-content>
                Warrior Shrine: El Templo del Guerrero es el nombre de un escenario del juego Mortal Kombat: Shaolin Monks.
                 El escenario en si es un templo shaolin el cual se encuentra en La Academia Wu Shi. Es también donde se encuentran las
                  estatuas esculpidas de los guerreros del Mortal Kombat (Liu Kang, Johnny Cage, Sonya Blade, Raiden, Goro, Kano) 
                  y una séptima estatua de un misterioso guerrero el cual resulta ser Ermac quien se habia ocultado convertido en una estatua,
                   es aquí cuando deberemos enfrentarnos contra Ermac, que sería el jefe secreto de este nivel.
                Es también en este en este escenario y parte del juego en donde deberemos completar la 2º mision de Smoke.
              </ion-card-content>
              <img src="assets/10.jpg" ion class="ion-padding" height="200" width="350">
                <ion-card-content>
                
