<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
      text="Volver"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>El Rincón Retro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mortal Kombat Shaolin Monks</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Mortal Kombat: Shaolin Monks tiene un entorno de juego basado en un sistema multidireccional de combate que da a los jugadores la capacidad de atacar a cualquiera de los enemigos que les rodean. El motor permite que el jugador mantenga ataques y combos a través de múltiples enemigos, e incluso pueden continuar sus combos después de lanzarlos en el aire gracias a un ataque de gran alcance o de un lanzamiento. Los personajes principales también poseen muchos de los movimientos especiales que han tenido en los juegos anteriores de la serie.
      </ion-card-content>
      <a href="/mk"><img src="assets/mksm.jpg" ion class="ion-padding"></a>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Persona 5</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Persona 5 es un videojuego desarrollado por Atlus, disponible para las plataformas de PlayStation 3 y 4. La idea de esta guía es poder brindarte algunos consejos para los Final Bosses de este maravilloso juego, que, por sus mecánicas, pueden ser desde desafiantes hasta imposibles, esto dicho por experiencia propia, sin más por agregar en esta guía abarcaremos los primeros 2 Bosses de los 11 que hay en total incluyendo los Secrets, Shadow Kamoshida y Shadow Madarame.
      </ion-card-content>
      <a href="/sk" ><img src="assets/p5.jpg" ion class="ion-padding"></a>
    </ion-card>
    
    
</ion-content>
