<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
      defaultHref="/"
      text="Volver"
      color="primary"
      mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Mortal Kombat Shaolin monks</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-card color=mysecondcolor>
      <ion-card-header>
        <ion-card-title>Mortal Kombat  </ion-card-title>
        <ion-card-subtitle>Modos</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Mortal Kombat: Shaolin Monks es un videojuego de
        aventura de acción basado en los acontecimientos 
        de Mortal Kombat II, comenzando con las consecuencias del primer Mortal Kombat. El juego se centra en dos miembros 
        del Templo Shaolin: Liu Kang y Kung Lao, en sus
    peripecias de viaje por los reinos en un intento de detener los planes de Shang Tsung de dominar el reino de La Tierra.
Shaolin Monks ofrece tres modos principales de juego. Aparte de un modo solo-jugador, el juego tiene un modo cooperativo, donde dos 
jugadores pueden trabajar juntos a través del juego, 
con el acceso a algunas áreas y artículos que son inaccesibles en modo de un solo-jugador.
Hay también otro modo, donde dos jugadores pueden luchar cara a cara en algunas de los escenarios ofrecidos en el juego.
      </ion-card-content>
      <img src="assets/1.jpg" ion class="ion-padding" height="200" width="350">
      <ion-card-content>
        En este modo de de juego puedes jugar contra la CPU 
        o contra tus amigos con los distintos personajes que se pueden desbloquear atraves
        de la aventura con los puntos rojos,obtenibles todos en el modo aventura,sigue la guia para saber como otenerlos todos. Los personajes que se puedes usar son: Liu kang, Sub-Zero, Scorpion,
        Reptile, Baraka, Kung lao, Jonny kage y Kitana.
      </ion-card-content>
      <img src="assets/2.jpg" ion class="ion-padding" height="200" width="350">
      <ion-card-content>
        Este modo es el KO-OP, en el cual podras con un amigo elegir uno de los 4 personajes que 
        se pueden elegir y lanzarte a la aventura de Mortal kombat shaolin monks.
      </ion-card-content>
      <img src="assets/4.jpg" ion class="ion-padding" height="200" width="350">
      <ion-card-content>
        <ion-card-content>
          Este es el modo single player donde te lazaras a la aventura solo contra todos los tipos
          de enemigos que estan en mortal kombat shaolin monts.
        </ion-card-content>
        <img src="assets/6.jpg" ion class="ion-padding" height="200" width="350">
        <ion-card-content>  
        Estos son los personajes que se pueden utilizar en el modo single player 
        o modo KO-OP en los cuales solo se tienes a los personajes de Liu kang y 
        Kung Lao, pero con los codigos que aparecen en pantalla podras obtener a los otros 2
        personajes usables los cuales son Scorpion y Sub-zero.
      </ion-card-content>
      <img src="assets/5.jpg" ion class="ion-padding" height="200" width="350">
